<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name,:class =>"form-control" %>
  </div>

  <div class="field">
    <%= form.label :length %>
    <%= form.number_field :length,:class =>"form-control" %>
  </div>
  
  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail,:class =>"form-control" %>
  </div>
  
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image,:class =>"form-control-file" %><br>
  </div>
  
  <div class="d-flex justify-content-center"> 
    <div class="actions">
      <%= form.submit 'Submit', :class => 'btn btn-primary' %>
    </div>
  </div>
 
<% end %>
