<p id="notice"><%= notice %></p>

<h1 class="text-center">Movies</h1>

<%= link_to 'New Movie', new_movie_path, {:style =>'margin: 20px 0;', :class => "btn btn-outline-primary"}%>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col" class="text-center">Name</th>
      <th scope="col" class="text-center">Length</th>
      <th scope="col" colspan="3" class="text-center">Action</th>
    </tr>
  </thead>

  <tbody >
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td><%= movie.length %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


