<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Length in minutes:</strong>
  <%= @movie.length %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @movie.detail %>
</p>

<p>
  <% if @movie.image.attached? %>
    <%= image_tag @movie.image %>
  <% end %>
</p>

<h2>Review Form</h2>
<%= form_with(model: @movie_review, local: true) do |form| %>
  <div class= "field">
    <%= form.text_area :review %>
    <%= form.hidden_field :movie_id, :value => @movie.id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<h2>Review List</h2>
<ul>
  <% @movie.movie_review.each do |movie_review|%>
   <li><%= movie_review.review %>
     (<i><%= movie_review.user_id %></i>)</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
